[submodule "DSPFilters"]
	path = DSPFilters
	url = https://github.com/vinniefalco/DSPFilters.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json
[submodule "ext/tensorflow"]
	path = ext/tensorflow
	url = git@github.com:tensorflow/tensorflow.git
