*.o
*.so
*~
*.mk~
*.user
*.cpp.o
*.cpp.d
Makefile~
build
bin
*.npy
guitarmidi_epoch*_valAcc*.weights.h5
guitarmidi_epoch*_valLoss*.weights.h5
python/neuralnetmodelling/data_slices/**
python/neuralnetmodelling/*.tfrecord
python/neuralnetmodelling/*.csv
**.tfrecord*
python/neuralnetmodelling/weight_plots/*